<div class="modal-header">
    <h4 class="modal-title"> List of trainers</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card text-white bg-secondary mb-3" style="max-width: 30rem; margin-right: 25px; " *ngIf="(trainers$ | async) as trainers;">
        <div class="card-body">
            <ul class="card-body"  *ngFor="let trainer of (trainers$ | async)">
                <li class="card-text"><strong>Trainer's full name:</strong> {{trainer.firstName}} {{trainer.lastName}}</li>
            </ul>
        </div>
    </div>
</div>
