<div class="modal-header">
    <h4 class="modal-title">Add a new member</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
 [formGroup]="form"  
 (ngSubmit)="onSubmit(form.value)">
 <div class="col-md-6">
     <div class="form-group required">
         <label for="username">Username</label>
         <input type="text" name="username" id="username" formControlName="username">
         <div class="text-danger" *ngIf="form.get('username').errors"> 
         this field is mandatory
         </div>
     </div>
     <div class="form-group required">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
        <div class="text-danger" *ngIf="form.get('password').errors"> 
            This is a required field
        </div>
    </div>
     <div class="form-group required">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" formControlName="firstName">
        <div class="text-danger" *ngIf="form.get('firstName').errors"> 
            This is a required field
        </div>
    </div>
    <div class="form-group required">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" formControlName="lastName">
        <div class="text-danger" *ngIf="form.get('lastName').errors"> 
            This is a required field
        </div>
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" name="Age" id="Age" formControlName="Age">
    </div>
    <div class="form-group required">
        <label for="package">Package</label>
        <input type="text" name="package" id="package" formControlName="package">
    </div>  
</div>
 <div class="modal-footer">
    <button type="submit" [disabled]="!form.valid">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>
</div>
